h1, h2, h3, h4 {
  margin: 15px 0;
  color: #454344;
}
h1, h2 {
  font-size: 2.5em;
}
h3 {
  font-size: 27px;
}
h4 {
  font-size: 20px;
  font-weight: normal;
  line-height: 2rem;
}
p {
  line-height: 1.3rem;
  color: #555;
}