/* mixin */
@mixin break($size) {  
  @media (min-width: map-get($breakpoints, $size)) {
    @content;
  }
}
@each $key, $value in $breakpoints {
  @for $i from 1 through $grid-columns {
    .grid-#{$key}-#{$i} {
      width: 100%;
      position: relative;
      padding-right: 15px;
      padding-left: 15px;
      @include break($key) {
        flex: 0 0 #{$i / $grid-columns * 100%};
      }
    }
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  @include break(sm) {
    max-width: 520px;
  }
  @include break(md) {
    max-width: 720px;
  }
  @include break(lg) {
    max-width: 960px;
  }
  @include break(xl) {
    max-width: 1180px;
  }
}
